:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --logoend-color-header: #000000;
  --logoend-color-footer: #ffffff;
  --background-main-color: #ffffff;
  --background-second-color: #f5f4fa;
  --background-dark-color: #2f303a;
}
